<!DOCTYPE html>
{% if angularjs %}
<html ng-app>
{% else %}
<html lang="en">
{% endif %}
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Projects{% endblock %} - Precious CI</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootswatch/3.0.3/cyborg/bootstrap.min.css">
    {% if angularjs %}
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
      {% include 'navbar.html' %}
    {% endblock %}

    <div class="container">
      {% block flashes %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endblock %}

      {% block content %}
      <div class="jumbotron">
        <h1><img src="{{ url_for('static', filename='precious_logo_big.png') }}" alt="Logo" />&nbsp;&nbsp;Hello my Precious!</h1>
      </div>
      {% endblock %}
    </div>

    {% block footer %}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://code.jquery.com/jquery.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      {% include 'footer.html' %}
    {% endblock %}
  </body>
</html>
