{% extends "base.html" %}

{% block title %}Sign In{% endblock %}

{% block content %}
<div class="col-lg-6">
<fieldset>
  <legend>Log in</legend>
  <form action="" method="post" name="login" class="form-horizontal">
    <div class="form-group">
      <label for="inputUser" class="col-lg-2 control-label">Username</label>
      <div class="col-lg-10">
        <input class="form-control" name="username" id="inputUser" placeholder="Username" type="text">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input class="form-control" name="password" id="inputPassword" placeholder="Password" type="password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-6 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</fieldset>
</div>
{% endblock %}
