<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="./"><img src="{{ url_for('static', filename='precious_logo_small.png') }}" alt="Logo" />&nbsp;&nbsp;Precious CI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if request.path == "/" %}class="active"{% endif %}><a href="./">Projects</a></li>
        <li {% if request.path == "/settings" %}class="active"{% endif %}><a href="./settings">Settings</a></li>
        <li {% if request.path == "/permissions" %}class="active"{% endif %}><a href="./permissions">Permissions</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user %}
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ str(user) }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
        {% else %}
          <li><a href="./login">Log in</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
