{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-lg-6">
          Projects
        </div>
        <div class="col-lg-6 text-right">
          <a class="btn btn-primary btn-xs" href="./project/new"><span class="glyphicon glyphicon-plus"></span> New</a>
        </div>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Last build<th>
        </tr>
      </thead>
      <tbody>
        {% for p in projects %}
        <tr>
          <td>{{ p.id }}</td>
          <td><strong>{{ p.name }}</strong></td>
          <td>{{ p.description }}</td>
          <td>
          {% if p.history != [] %}
            {% if p.history[-1].success %}
              <span class="glyphicon glyphicon-ok" style="color: green"></span> {{ p.history[-1].date }}
            {% else %}
              <span class="glyphicon glyphicon-remove" style="color: red"></span> {{ p.history[-1].date }}
            {% endif %}
          {% else %}
            <span class="glyphicon glyphicon-off"></span>
          {% endif %}
          </td>
          <td class="text-right">
            {% if p.config and "status" in p.config.keys() and p.config["status"] == 4 %}
            <button class="btn btn-default btn-xs disabled"><span class="glyphicon glyphicon-refresh"></span> Building</button>
            {% else %}
            <a class="btn btn-default btn-xs" href="./project/{{ p.id }}/build">
              <span class="glyphicon glyphicon-play"></span> Build now
            </a>
            {% endif %}
          </td>
          <td class="text-right">
            <a class="btn btn-default btn-xs" href="./project/{{ p.id }}">
              <span class="glyphicon glyphicon-list"></span> History
            </a>
          </td>
          <td class="text-right">
            <a class="btn btn-default btn-xs" href="./project/{{ p.id }}/edit">
              <span class="glyphicon glyphicon-edit"></span> Settings
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
