{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">Projects</div>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Last build<th>
        </tr>
      </thead>
      <tbody>
        {% for p in projects %}
        <tr>
          <td>{{ p.id }}</td>
          <td><b>{{ p.name }}</b></td>
          <td>{{ p.description }}</td>
          <td>
          {% if p.history != [] %}
            {% if p.history[-1].success %}
              <span class="glyphicon glyphicon-ok" style="color: green"></span> {{ p.history[-1].date }}
            {% else %}
              <span class="glyphicon glyphicon-remove" style="color: red"></span> {{ p.history[-1].date }}
            {% endif %}
          {% else %}
            <span class="glyphicon glyphicon-off"></span>
          {% endif %}
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-play-circle"></span> Build now
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-list"></span> History
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-default btn-xs">
              <span class="glyphicon glyphicon-edit"></span> Settings
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
